<div class="contendor">
    

    <div class="container--fluid">

      <div class="row" >
              <aside class="col-12 col-lg-6 texto" *ngFor="let u of user">

                  <h2 class="fs-2">Hola, mi nombre es <span class="coloreado">{{u.nombre}}</span></h2>

                  <h3 class="fs-2 coloreado">SOY # <span class="tipeo">{{u.otro}}</span></h3>
                  

                  <p class="lh-base">{{u.descripcion}}</p>

                  
                  

                </aside>

                

              <aside class="col-12 col-lg-6 perfil">

                <img src="../../../assets/perfil2.jpg"  class="img-fluid foto"  alt="perfil">
                

              </aside>
              <p *ngIf="loginService.isLogged()" class="fs-6 aviso" >*ESTA SECCIÓN ES EDITABLE DESDE EL FORMULARIO DE CONTACTO</p>
              
        </div>

        
            

    </div>



  </div>
  
    
