.contendor{
    background: var(--color-transp);
    position: relative;
    top: 60px;
    left: 25%;
    width: 75%;
    min-height: 100vh;
    padding: 20px;
    font-family: 'Bebas Neue', cursive;
    color: var(--color-terc);
}

.titulo{
    color:var(--color-sec);
    padding-right: 10px;
    /* position: absolute; */
    position: relative;
    border-bottom: 5px solid var(--color-terc);
}


.coloreado{
    color:var(--color-sec);
}

.container--fluid{
    
    text-align: left;   
    padding: 0px;
    background: var(--color-box);    
    
}

.row{
    display: flex;
    text-align: left;
    justify-content:center;
    align-items: center;
    
    

}

.texto{
    padding: 30px;
    
    
}

.perfil{
    display: flex;
    text-align: center;
    justify-content:center;
    align-items: center;
    padding: 30px;
    
}

.foto{
   
    border-radius: 50%;
}

.aviso{
    color:var(--color-sec);
    padding-left: 30px;
    
}

.tipeo{
    color:var(--color-sec);
    display: block;    
    border-right: 5px solid var(--color-terc);
    width: 100%;
    height:2.3em ;
    overflow:hidden;
    animation: tipex 3s infinite alternate-reverse,
    blink  3s infinite alternate-reverse
    
    

}

@keyframes tipex{
    from{width: 0;}  
}
@keyframes blink {
    0%{border-color: transparent;}
}
