.contendor{
    background: var(--color-transp);
    position: relative;
    top: 60px;
    left: 25%;
    width: 75%;
    min-height: 100vh;
    padding: 20px;
    font-family: 'Bebas Neue', cursive;
    color: var(--color-terc);
}

.titulo{
    color:var(--color-sec);
    padding-right: 10px;
    /* position: absolute; */
    position: relative;
    border-bottom: 5px solid var(--color-terc);
    
    
}

span{
    color:var(--color-sec)
}

h5{
    margin-top: 10px;
}

.tablas{
    background: var(--color-box); 
    
}

.tabla{
    background: var(--color-box);
    margin-top: 8px;
}


.redes{
    margin: 30px;
}

.nav-link{
    padding-bottom: 10px;
}

a:hover{
    color:var(--color-sec);
}



h4{
    color: var(--color-sec);
    
}

.letra{
    color:var( --color-terc)
}

.fs-5{
    float: left;
    padding-right: 1rem;
}

.agregar{
    text-align: center;
    margin-left: 10px;
    margin-bottom: 10px;
    color: var(--color-terc);
    border-radius: 50%;
}

button:hover{
    color: var(--color-terc);
    background-color:var(--color-sec);
    border:none;
}


.btn{
    background-color:var(--color-terc);
    border: none;
    color: var(--color-prim);

}

.datos{
    padding-top: 1em;
    padding-bottom: 1em;
}

.modal{
    background: var(--color-transp)
}

.modal-content{
    background-color: var(--color-prim);
}

.modal-dialog{
    margin-top: 20vh;
}

.modal-title{
    color: var(--color-sec); 
}

.form-label{
    color: var(--color-terc);
}

.date{
    padding:0;
    margin-bottom: 1em;
}

.form-label{
    color: var(--color-sec);
}

