.contendor{
    background: var(--color-transp);
    position: relative;
    top: 60px;
    left: 25%;
    width: 75%;
    min-height: 100vh;
    padding: 20px;
    font-family: 'Bebas Neue', cursive;
    color: var(--color-terc);
}

.titulo{
    color:var(--color-sec);
    padding-right: 10px;
    /* position: absolute; */
    position: relative;
    border-bottom: 5px solid var(--color-terc);
    
    
}

span{
    color:var(--color-sec)
}

h5{
    margin-top: 10px;
}

.card{
    background-color:var(--color-prim);
}

img{
    padding: 8px;
    border-radius: 50%;
}

.card-body{
    padding: 0;
    padding: 5px;
}



.tablas{
    background: var(--color-box);
    padding-bottom: 30px; 
    
}

.tabla{
    background: var(--color-box);
    margin-top: 8px;
}

.progress-bar{
    background-color: var(--color-sec);
    
   
}

.agregar{
    text-align: center;
    margin-left: 10px;
    margin-bottom: 10px;
    color: var(--color-terc);
    border-radius: 50%;
    
}



button:hover{
    color: var(--color-terc);
    background-color:var(--color-sec);

    
    
}

.modal{
    background: var(--color-transp)
}

.modal-content{
    background-color: var(--color-prim);
}

.modal-dialog{
    margin-top: 20vh;
}

.btn{
    background-color:var(--color-terc);
    border: none;
    color: var(--color-prim);
}

.modal-title{
    color: var(--color-sec); 
}

.form-label{
    color: var(--color-terc);
}

.date{
    padding:0;
}

.calendario{
    margin-left: 1em;
}

.card-title{
    color: var(--color-sec);
}

progress{
    width: 100%;
    
}

progress[value]::-webkit-progress-bar {
    background-color: var(--color-terc);
  }

  progress[value]::-webkit-progress-value {
    background-color: var(--color-sec);
  }


