
:root{
    --color-prim:#1a1919;
    --color-sec:#FB5012;
    --color-terc:#FFFFFA;
    --color-transp:rgba(43, 43, 43, 0.2);
    --color-box:rgba(43, 43, 43, 0.4);
}


body{
    background-color: #171614;
    background-image: url(../src/assets/arg-prog-logo.png);
    background-repeat:no-repeat;
    

}